<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cats!</title>
</head>
<body>
    <h1>The cats</h1>
    <% for(let cat of cats) { %>  <!--loop that iterates the array within our ejs file-->
        <li><%= cat %></li>
    <% } %>
</body>
</html>