<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page <%= 4 + 5 %></h1>  <!--This is how we incorportate ejs syntax in file directly-->
   
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, impedit explicabo? Explicabo nulla molestias sed libero veritatis ducimus obcaecati autem vel sequi, quia quae quod culpa rem ullam animi architecto.
    Adipisci tenetur nihil animi voluptatem neque laborum aliquid ut similique saepe aliquam consequatur velit minima perspiciatis natus est id et hic ipsum, nulla maxime, ab rem nisi sint vel. Optio!
    Cumque, molestias voluptatibus repellendus natus, a placeat veritatis qui ducimus fugiat excepturi voluptate inventore exercitationem consequuntur iste aperiam eaque adipisci nemo voluptatum? Fuga non minima laborum, quidem at voluptates dolore.
    Omnis, voluptatum. Possimus, illum? Voluptatibus molestiae voluptatem consequuntur, eos quas aspernatur, soluta eligendi sunt minima perferendis tenetur sequi dignissimos. Voluptate magnam at consequuntur quia aliquam amet libero accusamus voluptas eveniet.
    Dolore accusantium, adipisci eligendi velit consequuntur quasi ratione unde! Debitis totam laboriosam, quis culpa quos sit est voluptatibus repellendus et nisi tenetur, expedita odio obcaecati quisquam! Iusto fuga facilis recusandae.</p>
   
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis culpa cum ea sed quidem consequuntur corrupti nisi eveniet, unde, amet numquam eligendi ex, consectetur hic! Minima quaerat veritatis excepturi quo?
    Illum suscipit recusandae culpa maiores quis placeat repudiandae ut facere non laborum reprehenderit tempora ea debitis nesciunt unde quibusdam deleniti voluptatibus modi, eveniet provident voluptas, ex quaerat quas totam. Debitis?</p>
</body>
</html>